
QWidget {
	background-color: rgb(70,70,70);
}
QLineEdit {
	background-color: rgb(50,50,50);
}
QTextBrowser{
    background-color: rgb(50,50,50);
}
QToolBox  {
	background-color: rgb(80,80,80);
	flat:True;
}
QToolBox::tab{
	background-color: rgb(60,60,60);
	border: 1px solid rgb(60,60,60);
}
QToolBox::tab:selected{
	background-color: rgb(90,90,90);
}
QToolBox::pane{
	background-color: rgb(255,50,50);
}

QTableView {
    background-color: rgb(50,50,50);
}

QTreeView {
    background-color: rgb(50,50,50);
}

QTreeView {
     show-decoration-selected: 1;
 }


 QTreeView::item:selected:!active {
     background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #6b9be8, stop: 1 #577fbf);
 }
  QTreeView::item:selected:active {
     background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #6b9be8, stop: 1 #577fbf);
 }


QScrollBar:vertical {
    border: 2px solid rgb(50,50,50);
    background: rgb(50,50,50);
    width: 15px;
    margin: 22px 0 22px 0;
}
QScrollBar:horizontal {
    border: 2px solid rgb(50,50,50);
    background: rgb(50,50,50);
    height: 15px;
    margin: 0 22px 0 22px;
}
QScrollBar::handle:vertical {
    background:  rgb(100,100,100);
    min-height: 20px;
}
QScrollBar::handle:horizontal {
    background:  rgb(100,100,100);
    min-width: 20px;
}
QScrollBar::add-line:vertical {
    border: 2px solid rgb(50,50,50);
    background:  rgb(50,50,50);
    height: 20px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}
QScrollBar::add-line:horizontal {
    border: 2px solid rgb(50,50,50);
    background:  rgb(50,50,50);
    width: 20px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}
QScrollBar::sub-line:vertical {
    border: 2px solid rgb(50,50,50);
    background: rgb(50,50,50);
    height: 20px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}
QScrollBar::sub-line:horizontal {
    border: 2px solid rgb(50,50,50);
    background: rgb(50,50,50);
    width: 20px;
    subcontrol-position: left;
    subcontrol-origin: margin;
}
QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical {
    border: 2px solid rgb(50,50,50);
    width: 10px;
    height: 15px;
    background: rgb(40,40,40);
}
QScrollBar::left-arrow:horizontal, QScrollBar::right-arrow:horizontal {
    border: 2px solid rgb(50,50,50);
    width: 15px;
    height: 10px;
    background: rgb(40,40,40);
}
QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: none;
}

QTabBar::tab{
	min-width:40px;
	background-color: rgb(50,50,50);
	border-top-left-radius : 4px;
	border-top-right-radius : 4px;
	padding: 3px;
	padding-left: 10px;
	padding-right: 10px;
	position: relative; 
    top: 2px;

}

QTabBar::tab:hover
{
    background-color: rgb(75,75,75);
}
QTabBar::tab:selected {
	background-color: rgb(100,100,100);
	border-top-left-radius : 2px;
	border-top-right-radius : 2px;
	position: relative; 
        top: 0px;
}

QToolButton { /* all types of tool button */
     border: 0px solid #8f8f91;
     border-radius: 0px;
     background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                       stop: 0 #f6f7fa, stop: 1 #dadbde);
 }